Flask
flask-cors
python-dotenv
pillow
numpy
opencv-python
insightface
onnxruntime
torch
torchvision
torchaudio
transformers==4.49.0
accelerate
safetensors
sentencepiece
timm
huggingface_hub
scipy
matplotlib
requests
einops
tqdm
ultralytics
